/* Define the styles for the outer square container */
.outerSquare {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
}

/* Header style */
.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    padding: 2%;
    background-color: transparent;
    z-index: 999;
}

.headerIcons {
    display: flex;
    gap: 2vh;
}

.headerIcons a {
    display: inline-block;
    width: 3.5vh;
    height: 3.5vh;
    filter: brightness(1.1);
    mix-blend-mode: soft-light;
    pointer-events: all;
    transition: transform 0.3s ease;
}

.headerIcons a:nth-child(1) {
    background-image: url('/img/github.png');
    background-position: center;
    background-size: cover;
}

.headerIcons a:nth-child(2) {
    background-image: url('/img/linkedin.png');
    background-position: center;
    background-size: cover;
}

.headerIcons a:nth-child(3) {
    background-image: url('/img/mail.png');
    background-position: center;
    background-size: cover;
}

.headerIcons a:nth-child(1):hover,
.headerIcons a:nth-child(1):focus {
    background-image: url('/img/github.gif');
    background-position: center;
    background-size: cover;
    pointer-events: all;
    transform: scale(1.1);
}

.headerIcons a:nth-child(2):hover,
.headerIcons a:nth-child(2):focus {
    background-image: url('/img/linkedin.gif');
    background-position: center;
    background-size: cover;
    pointer-events: all;
    transform: scale(1.1);
}

.headerIcons a:nth-child(3):hover,
.headerIcons a:nth-child(3):focus {
    background-image: url('/img/mail.gif');
    background-position: center;
    background-size: cover;
    pointer-events: all;
    transform: scale(1.1);
}

.headerCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin: 0 10px;
}

.headerCenter a {
    color: #000000;
    text-decoration: none;
    font-size: 2.5vh;
    font-weight: 600;
    margin: 0 10px;
    letter-spacing: -0.5px;
    transition: transform 0.3s ease;
}

.headerCenter a:hover {
    color: #e77913;
    transform: scale(1.075);
}

.headerCenter .inicio {
    background-image: url('/img/home.png');
    background-position: center;
    background-size: cover;
    width: 5vh;
    height: 5vh;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    pointer-events: all;
    transition: transform 0.3s ease;
}

.headerCenter .inicio:hover,
.headerCenter .inicio:focus {
    background-image: url('/img/home.gif');
    background-position: center;
    background-size: cover;
    pointer-events: all;
    transform: scale(1.1);
}

/* Apply styles to the grid container */
.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 3%;
    grid-row-gap: 0px;
    height: 80%;
    max-width: 80%;
    padding: 3% 0px 7.5% 0px;
    align-self: flex-end;
}

/* Apply styles to the card links */
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1vh;
    text-align: center;
    background-color: #afd9fc;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    text-decoration: none;
}

.card:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.75);
    transform: scale(1.1);
}

.card:nth-child(1) {
    grid-area: 2 / 1 / 6 / 3;
}

.card:nth-child(3) {
    grid-area: 1 / 3 / 5 / 5;
}

.card:nth-child(2) {
    grid-area: 2 / 5 / 6 / 7;
}

.card:nth-child(4) {
    grid-area: 6 / 3 / 7 / 5;
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    box-shadow: none;
    align-self: flex-end;
    padding: 0px 0px 0px 3vh;
}

.card:nth-child(4):hover {
    transform: scale(1);
}

/* Apply styles to the heading */
.card h3 {
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
    color: #1f1e1e;
    letter-spacing: -1px;
    padding: 0;
    margin: 0;
}

/* Apply styles to the paragraph */
.card p {
    font-size: 1.6vh;
    line-height: 1.4;
    text-align: left;
    color: #252525;
    padding: 0;
    margin: 1vh;
}

/* Apply styles to the link */
.a {
    text-decoration: none;
    color: #A2FF86;
}

/* Apply styles to the link on hover */
.a:hover {
    text-decoration: underline;
}

/* Apply styles to the image span */
.cardImage {
    position: relative;
    width: 60%;
    height: 60%;
    margin-bottom: 2vh;
}

.cardImage img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.footer {
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: transparent;
    padding: 1vh;
}

.footer p {
    margin: 0;
    font-size: 1.45vh;
    font-weight: 600;
    color: #000000;
}

.footer .name{
    margin: 0;
    font-size: 1.6vh;
    font-weight: 700;
    color: #e77913;
    letter-spacing: -0.25px;
}

.footer a {
    transition: color 0.2s ease-in-out, transform 0.3s ease;
}

.footer a:hover {
    color: #0400fd;
    transform: scale(1.1);
}

/* Responsive styles for max-width: 600px */
@media (max-width: 600px) {
    .pageWrapper {
        flex-grow: 1;
        display: flex;
        overflow: auto;
        flex-direction: column;
        height: 100vh;
        margin: 0;
    }

    .header {
        display: flex;
        height: 10%;
    }

    .headerIcons {
        gap: 0.6vh;
    }
    
    .headerIcons a {
        width: 2.2vh;
        height: 2.2vh;
    }

    .headerCenter {
        flex-grow: 0;
        margin: 0;
    }
    
    .headerCenter a {
        font-size: 1.4vh;
        font-weight: 600;
        margin: 0.5vh;
        letter-spacing: -0.25px
        ;
    }
    
    .headerCenter .inicio {
        width: 3vh;
        height: 3vh;
    }

    .grid {
        flex-grow: 1;
        overflow: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        max-height: 90%;
        max-width: 85%;
        gap: 5vh;
        padding: 6% 0px 4% 0px; 
    }

    .card {
        width: 80%;
        max-width: 400px;
        padding: 20px;
        box-sizing: border-box;
    }

    .card:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
        transform: scale(1.05);
    }  

    .card:nth-child(4) {
        padding: 0px;
        align-self: center;
    }

    .card:nth-child(4):hover {
        box-shadow: none;
        transform: scale(1);
    }

    .cardImage {
        position: relative;
        width: 100%;
        height: 20vh;
        margin-bottom: 10px;
    }

    .footer {
        display: block;
    }

    .footer p {
        font-size: 1.35vh;
        font-weight: 500;
    }
    
    .footer .name{
        font-size: 1.5vh;
        font-weight: 600;
    }
}