.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    justify-content: center;
}

.image {
    width: 60%;
    height: 60%;
    margin: auto;
    display: block;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

.options button {
    margin: 5px 0;
    width: 600px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}


/* Button options */
.buttonOpt {
    background-color: #13aa52;
    border: 1px solid #13aa52;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 10px 25px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    touch-action: manipulation;
}

.buttonOpt:hover {
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
}

@media (min-width: 600px) {
  .buttonOpt {
    padding: 10px 30px;
  }
}

/* Button finish */
.buttonFinish {
    align-items: center;
    background-color: #FFE7E7;
    background-position: 0 0;
    border: 1px solid #FEE0E0;
    border-radius: 11px;
    box-sizing: border-box;
    color: #D33A2C;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    font-weight: 700;
    line-height: 33.4929px;
    padding: 2px 12px;
    text-align: left;
    text-decoration: none;
    text-shadow: none;
    text-underline-offset: 1px;
    touch-action: manipulation;
    white-space: nowrap;
    word-break: break-word;
}

.buttonFinish:active,
.buttonFinish:hover,
.buttonFinish:focus {
    outline: 0;
}

.buttonFinish:active {
    background-color: #D33A2C;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
    color: #FFFFFF;
}

.buttonFinish:hover {
    background-color: #FFE3E3;
    border-color: #FAA4A4;
}

.buttonFinish:active:hover,
.buttonFinish:focus:hover,
.buttonFinish:focus {
    background-color: #D33A2C;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
    color: #FFFFFF;
}

@media (max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        justify-content: center;
    }

    .image {
        width: 100%;
        height: 100%;
        margin: auto;
        display: block;
    }

    .options {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px 0;
    }

    .options button {
        margin: 5px 0;
        width: 100%;
    }
}